body {
  font-family: Arial, sans-serif;
  background-color: rgb(53, 49, 49);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 100%;
}

form {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
select,
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #555555;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #222222;
  color: #ffffff;
}

input[type="button"],
select {
  width: 150px;
}

.card {
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333333;
  color: #ffffff;
}

.card p {
  margin: 5px 0;
}

.card button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: gray;
}

#routeContainer {
  max-width: 500px;
  margin: 0 auto;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup-close {
  text-align: right;
}

.popup-close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.payment-form {
  margin-top: 20px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
}

.payment-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.payment-form button[type="submit"] {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

/* Popup Overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-content form input[type="email"],
.popup-content form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.popup-content form button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content form button:hover {
  background-color: #45a049;
}

.popup-close {
  text-align: right;
  margin-bottom: 10px;
}

.popup-close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* Account Options */
#accountOptions {
  display: flex;
  align-items: center;
}

#accountOptions a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

#profileImg {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Signup Popup */
#signupPopup.popup-overlay {
  display: none;
}

#signupPopup .popup-content {
  max-width: 400px;
}

#signupPopup h3 {
  margin-top: 0;
}

#signupPopup form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

#signupPopup form input[type="email"],
#signupPopup form input[type="text"],
#signupPopup form input[type="password"],
#signupPopup form input[type="text"],
#signupPopup form input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: white;
}

#signupName {
  color: black;
}


#signupPopup form button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#signupPopup form button:hover {
  background-color: #333;
}

#signupPopup .popup-close {
  text-align: right;
  margin-bottom: 10px;
}

#signupPopup .popup-close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* Login Popup */
#loginPopup.popup-overlay {
  display: none;
}

#loginPopup .popup-content {
  max-width: 400px;
}

#loginPopup h3 {
  margin-top: 0;
}

#loginPopup form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

#loginPopup form input[type="email"],
#loginPopup form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#loginPopup form button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#loginPopup form button:hover {
  background-color: #333;
}

#loginPopup .popup-close {
  text-align: right;
  margin-bottom: 10px;
}

#loginPopup .popup-close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Popup Close Button */
.popup-close {
  text-align: right;
}

.popup-close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

/* User Profile */
.user-profile {
  text-align: center;
  margin-bottom: 20px;
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* User Actions */
.user-actions {
  text-align: center;
}

.user-actions button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.user-actions button:hover {
  background-color: #333;
}

#userBookingsContainer {
  display: 'none';
  width: 400px;
  margin-top: 20px;
  transform: translate(+140%, 0%);
}

#userBookingsContainer .card {
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333333;
  color: #ffffff;
}

#userBookingsContainer .card p {
  margin: 5px 0;
}

#userBookingsContainer .card button {
  background-color: #555;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#userBookingsContainer .card button:hover {
  background-color: #333;
}

#search{
  background-color: #555;
  height:30px;
  width:200px;
}

#editProfilePopup input[type="text"],
#editProfilePopup input[type="tel"],
#editProfilePopup input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: white;
}

#error-popup {
  display: none;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#222222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#errorPopupClose {
  float: right;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

#error-content {
  width: 350px;
  background-color: #222222;
}

#imageInputPopup{
  display: block;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#222222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#imagePopupClose {
  float: right;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}


